---
import Etapa1 from '~/components/Cart/step1.svelte';
import Etapa2 from '~/components/Cart/step2.svelte';
import Etapa3 from '~/components/Cart/step3.svelte';

import { Icon } from 'astro-icon';
---

<script>
    import { openModal, closeModal } from '@/components/Cart/logic';
    // seleciona todos os botões com a classe abrir
    const btnAbrirModal = document.querySelectorAll('button.abrir');
    btnAbrirModal.forEach((button) => {
        button.addEventListener('click', () => {
            openModal();
        });
    });
    // seleciona todos os botões com a classe fechar
    const btnFecharModal = document.querySelectorAll('button.fechar');
    btnFecharModal.forEach((button) => {
        button.addEventListener('click', () => {
            closeModal();
        });
    });
</script>
<!-- Botão para abrir o carrinho -->
<button class="btn abrir">Meu Carrinho<Icon class="h-6 w-6" name="mdi:cart" /></button>
<!-- MODAL: -->
<dialog id="meuCarrinho" class="modal">
    <div class="modal-box rounded-none max-h-none max-w-none w-full h-screen p-0 m-0">
        <div class="container py-8">
            <!-- Cabeçalho do carrinho onde mostra os passos e o botão de fechar -->
            <div>
                <div class="flex md:justify-between text-center flex-col-reverse md:flex-row">
                    <ul class="steps">
                        <!-- Passos step-primary -->
                        <li id="passo1" class="step step-primary"></li>
                        <li id="passo2" class="step"></li>
                        <li id="passo3" class="step"></li>
                    </ul>
                    <div class="mb-8 mx-auto md:m-0">
                        <form method="dialog" class="">
                            <!-- Fechar o modal (carrinho)-->
                            <button class="btn fechar">Fechar</button>
                        </form>
                        <!-- Fechar com botão ESC -->
                        <form method="dialog" class="modal-backdrop">
                            <button>close</button>
                        </form>
                    </div>
                </div>
                <h3 class="prose md:prose-lg font-black">Seu carrinho:</h3>
            </div>
            <!--x-->
            <!-- Corpo do Modal que será ativado de acordo com o script abaixo -->
            <Etapa1 />
            <Etapa2 />
            <Etapa3 />
            <!--x-->
        </div>
    </div>
</dialog>

<style>
    body.modal-open {
        overflow: hidden;
    }
</style>
