---
import CartFlyout from '@/components/SvelteCart/CartFlyout.svelte';
---

<section id="etapa1" class="border-y-2 flex flex-col py-2 my-2 border-gray-200">
    <div>
        <CartFlyout client:load />
    </div>

    <div class="flex gap-4 justify-end">
        <button onclick="
        CarregarEtapa(2)
        " class="btn btn-primary">Continuar</button>
    </div>
</section>
