---

---

<section id="etapa2" class="hidden flex border-y-2 flex-col py-2 my-2 border-gray-200">
    <div>2</div>
    <div class="flex gap-4 justify-end">
        <button onclick="CarregarEtapa(1)" class="btn mr-4">Voltar</button>
        <button onclick="CarregarEtapa(3)" class="btn-primary btn">Revisar</button>
    </div>
</section>
