---
import MeuCarrinho from '@/components/MeuCarrinho.astro';
---

<MeuCarrinho>
    <ul class="steps" slot="passo">
        <!-- Passos - -->
        <li id="passo1" class="step step-primary"></li>
        <li id="passo2" class="step step-primary"></li>
        <li id="passo3" class="step step-primary"></li>
    </ul>

    <section id="etapa3" class="border-y-2 flex-col py-2 my-2 border-gray-200">
        <div>3</div>
        <div slot="footer" class="flex gap-4 justify-end">
            <a href="#passo#2" class="btn btn-primary">Voltar</a>
            <a href="#finalizar" class="btn btn-primary">Finalizar</a>
        </div>
    </section>
</MeuCarrinho>
