---
import Layout from '~/layout/PageLayout.astro';

// o Layout jรก inclui o <html>, <head> e <footer>
---

<Layout>
    <main class="container grid place-content-center bg-blue-500 py-20">
        <div id="result">X</div>
        <h1>Here's our button!</h1>
        <div id="submit_button">
            <input class="rounded bg-gray-500 px-8 py-4 shadow" type="submit" value="Flagsmith Quickstart Button!" />
        </div>
        <script>
            const body = document.querySelector('body');
            const experiments = body.getAttribute('data-experiments').split(' ');

            if (experiments.includes('big-button')) {
                console.log('big-button')
                // Execute code for the "big-button" experiment
            } else {
                console.log(experiments)
            }
        </script>
    </main>
</Layout>
