---
import Layout from '~/layout/PageLayout.astro';
import Navbar from '~/components/MainPage/Navbar.astro';
import Hero from '~/components/Cart/MainPage/Hero.astro';
import Cardapio from '~/components/MainPage/Cardapio.astro';
import Servicos from '~/components/MainPage/Servicos.astro';

// o Layout jรก inclui o <html>, <head> e <footer>
---

<Layout>
    <Navbar />
    <main class="container py-20">
        <Hero />
        <Cardapio />
        <Servicos />
    </main>
</Layout>
