---
import Head from '@/layout/Head.astro';
import Layout from '@/layout/PageLayout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
---

<html lang="pt-br" class="bg-orange-50">
  <Head />
  <Layout>
    <header class="container"><Navbar /></header>
    <main class="py-20">
      <Hero />
    </main>
  </Layout>
  <footer><section class="container">footer</section></footer>
</html>
