---
import Layout from '@/layout/PageLayout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import Cardapio from '@/components/Cardapio.astro';
import Servicos from '@/components/Servicos.astro';



// o Layout jรก inclui o <html>, <head> e <footer>
---

<Layout>
  <Navbar />
  <main class="container py-20">
    
    <Hero />
    <Servicos />
    <Cardapio />
  </main>
</Layout>
