---
import Layout from '@/layout/PageLayout.astro';
import Navbar from '@/components/Navbar.astro';
import Hero from '@/components/Hero.astro';
import Cardapio from '@/components/Cardapio.astro';
import Servicos from '@/components/Servicos.astro';

import Etapa1 from '~/components/Cart/Step1.svelte';
import Etapa2 from '~/components/Cart/Step2.svelte';
import Etapa3 from '~/components/Cart/Step3.svelte';
// o Layout jรก inclui o <html>, <head> e <footer>
---

<Layout>
    <Navbar />

    <main class="container py-20">
        <!-- <Etapa1 />
        <Etapa2 />
        <Etapa3 /> -->
        <Hero />
        <Servicos />
        <Cardapio />
    </main>
</Layout>
