---
import Layout from '~/layout/PageLayout.astro';

// o Layout já inclui o <html>, <head> e <footer>
---

<Layout>
    <main class="container bg-blue-500 py-20">
        <div id="result">X</div>
    </main>
    <script>
        import statsig from 'statsig-js';
        import type { StatsigUser } from 'statsig-js';

        function text(url) {
            return fetch(url).then((res) => res.text());
        }
        let ip;
        text('https://www.cloudflare.com/cdn-cgi/trace').then((data) => {
            let ipRegex = /[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}/;
            ip = data.match(ipRegex)[0];
            console.log('IP = ' + ip);
        });
        const user: StatsigUser = {
            ip: ip,
            custom: {
                new_user: true,
                level: 2,
            },
        };

        await statsig.initialize('client-sdk-key', user);
        // initialize returns a promise which always resolves
        // await Statsig.initialize(
        //     'client-BBQUMfzIFwm7HOtkDfGwIYyfnaCluXDoP1bGd2he99Q',
        //     { userID: 'some_user_id' },
        //     { environment: { tier: 'staging' } } // optional, pass options here if needed
        // );
        const apiKey = 'client-BBQUMfzIFwm7HOtkDfGwIYyfnaCluXDoP1bGd2he99Q';
        await statsig.initialize(apiKey, { userID: '123' });

        const exp = statsig.getExperiment('pricing');
        const resultElement = document.getElementById('result') as HTMLDivElement;
        resultElement.innerText = JSON.stringify(exp.getValue());
        if (statsig.checkGate('pricing')) {
            console.log('Opne');
            // Gate is on, show new home page
        } else {
            console.log('Closed');
            // Gate is off, show old home page
        }
        const expConfig = statsig.getExperiment('onboarding_banner');

        const showBanner = expConfig.get('enable feature', false);

        console.log(exp);
    </script>
</Layout>
