---

---

<div class="container py-8">
    <div>
        <div class="flex md:justify-between text-center flex-col-reverse md:flex-row">
            <slot name="passo" />
            <div class="mb-8 mx-auto md:m-0">
                <a href="#fechar" class="btn">Fechar</a>
            </div>
        </div>
        <h3 class="prose md:prose-lg font-black">Seu carrinho:</h3>
        <slot />
    </div>
    <slot name="footer" />
</div>
