---
import HomeSection from '@/layout/HomeSection.astro';
---

<HomeSection id="servicos">
    <div class="prose mx-auto text-center md:prose-lg"><h2>Serviços</h2></div>
    <div class="flex h-32 flex-col place-items-center justify-center gap-8 md:flex-row">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
</HomeSection>
