---
import Section from '@/layout/Section.astro';
---

<Section id="servicos">
  <div class="prose md:prose-lg text-center mx-auto"><h2>Serviços</h2></div>
  <div class="h-32 place-items-center flex flex-col md:flex-row justify-center gap-8">
    <div>1</div>
    <div>2</div>
    <div>3</div>
  </div>
</Section>
