---

---

<section id="etapa3" class="hidden border-y-2 flex-col py-2 my-2 border-gray-200">
  <div>3</div>
  <div class="text-end">
    <button onclick="
    CarregarEtapa(2)
" class="btn mr-4">Voltar</button>
    <button class="btn-primary btn">Finalizar</button>
  </div>
</section>
