---
import Etapa1 from '@/components/carrinho/Etapa1.astro';
import Etapa2 from '@/components/carrinho/Etapa2.astro';
import Etapa3 from '@/components/carrinho/Etapa3.astro';

import { Icon } from 'astro-icon';
---

<style>
  body.modal-open {
    overflow: hidden;
  }
</style>

<!-- Botão para abrir o carrinho -->
<button class="btn" onclick="openModal()">Meu Carrinho<Icon class="h-6 w-6" name="mdi:cart" /></button>
<!-- MODAL: -->
<dialog id="meuCarrinho" class="modal">
  <div class="modal-box rounded-none max-h-none max-w-none w-full h-screen p-0 m-0">
    <div class="container py-8">
      <!-- Cabeçalho do carrinho onde mostra os passos e o botão de fechar -->
      <div>
        <div class="flex justify-between">
          <ul class="steps">
            <!-- Passos step-primary -->

            <li id="passo1" class="step step-primary"></li>
            <li id="passo2" class="step"></li>
            <li id="passo3" class="step"></li>
          </ul>
          <div class="modal-action m-0">
            <form method="dialog">
              <!-- Fechar o modal (carrinho)-->
              <button onclick="closeModal()" class="btn">Fechar</button>
            </form>
            <!-- Fechar com botão ESC -->
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </div>
        </div>
        <h3 class="prose md:prose-lg font-black">Seu carrinho:</h3>
      </div>
      <!-- Corpo do Modal -->
      <Etapa1 />
      <Etapa2 />
      <Etapa3 />
    </div>
  </div>
</dialog>

<script is:inline>
function CarregarEtapa(etapa) {
  // Loop através das etapas de 1 a 3
  for (let i = 1; i <= 3; i++) {
    const etapaElement = document.getElementById(`etapa${i}`);

    // Verifica se é a etapa atual
    if (i === etapa) {
      etapaElement.classList.remove('hidden');
      etapaElement.classList.add('flex');
    } else {
      etapaElement.classList.remove('flex');
      etapaElement.classList.add('hidden');
    }
  }
}
</script>

<script is:inline>
// Script pra fechar e abrir o modal
function openModal() {
  const meuCarrinho = document.getElementById('meuCarrinho');
  meuCarrinho.showModal();
  document.body.classList.add('modal-open');
}

function closeModal() {
  const meuCarrinho = document.getElementById('meuCarrinho');
  document.body.classList.remove('modal-open');
}
</script>
